body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-weight: 55;
  }
  
  .flex-container {
    display: flex;
    justify-content: top;
    flex-direction: column;
    height: 100%;
  }
  
  h1{
      color: black;
      text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
    margin: 0;
    font-size: 150px;
    line-height: 200px;
    font-weight: 100;
  }
  h2{
      color: black;
      text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
      font-size: 28px;
      line-height: 10px;
      font-weight: 50;
  }

  p {
    margin: 0;
    font-size: 40px;
  }

  li {
      text-align: left;
  }
  
  .form {
      line-height: 0.5;
      border: none;
      border-bottom: 3px solid rgb(66,69,86);
      margin-top: 100px;
      width: 450px;
      font-size: 0.9em;
      font-style: italic;
      color: rgb(113, 114, 122);
      padding: 5px 10px;
      background: transparent;
  }
  
  button {
      line-height: 2.0;
      border: none;
      border:3px solid white;
      font-size: 1.2em;
      color: rgb(66,69,86);
      padding: 5px 30px;
      background: rgba(255,255,255,1.0);
      border-radius: 5px;
      opacity: 0.8;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(103, 106, 117);
  }
  input[type=text]:focus {
    outline: none;
  }
  
  button:hover{
    opacity: 1;
  }