<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">

<div class="flex-container">
    <div class="container">
        <h1>Search Utility</h1>
        <h2>Search among the existing pdf files at your local directory</h2>       
        
        <form METHOD="POST" action="/search_results">
            <input type="text" name="word" class="form" placeholder="Enter keyword to search">
            <!--<input type="checkbox" id="searchParam1" name="searchParam1">-->
            <!--<label for="searchParam1">Match word</label><br>-->
            <button>Search</button>
        </form>
    </div>
</div>
